.mainContainer {
	background-image: url(../images/bs1_welcome_to_fort_frolic.png);
	background-size: cover;
	color: white;
	background-position: fixed;
}
.mainContainer {
	position: fixed;
	height: 100vh;
	width: 100%;
}
#mainLogo {
	height: 100%;
	width: 100%;
}
#mainScreen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}
#neonSign {
	position: absolute;
	bottom: 20%;
	left: 20%;
	height: 60%;
	width: 60%;
}
#neonSignScreen {
	position: absolute;
	top: 29%;
	left: 28%;
	height: 45%;
	width: 44%;
	text-shadow: 2px 2px 5px black;
}
#blackScreen {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: -1;
}